<!DOCTYPE html>
<html lang="en" class="{% block htmlClass %}{% endblock %}">
<head>
    <meta charset="utf-8">
    <title>{{ bigfoot_theme_values.title | trans }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{ bigfoot_theme_values.provided_by | trans }}">

    <script type="text/javascript">
        var defaultPortfolioRoute = "{{ path('portfolio_dashboard') }}";
        var currentLocale = "{{ app.request.locale }}";
        {% if locales is defined and locales | length %}var locales = ["{{ locales | join('","') | raw }}"];{% endif %}
        var basePath = "{{ app.request.basePath }}";
        var tagsPath = "{{ path('admin_tag_get') }}";
    </script>

    {% block stylesheets %}
        {% stylesheets
            'admin/css/*.css'
            filter='cssrewrite'
            output='compiled/admin/css/admin.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %}">
{% block body %}
<div class="navbar navbar-fixed-top">
    {% block toolbar %}
        <div class="navbar-inner">
                <!-- Navigation starts -->
                <div class="nav-collapse collapse">

                    <!-- Links -->
                    {% if theme.toolbar.menu is defined and theme.toolbar.menu.items|length and app.security.token %}
                        <ul class="nav pull-right">
                            <li class="dropdown pull-right">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="glyphicon glyphicon-user"></span> {{ app.security.token.user.fullName }} <b class="caret"></b>
                                </a>

                                <!-- Dropdown menu -->
                                <ul class="dropdown-menu">
                                    {% for item in theme.toolbar.menu.items %}
                                        <li><a href="{{ path(item.route, item.parameters) }}"><span class="glyphicon glyphicon-{{ item.icon }}"></span> {{ item.label | trans }}</a></li>
                                    {%  endfor %}
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>

        </div>
    {% endblock toolbar %}
</div>

<header>
    <div class="container-fluid">
        <div class="row-fluid">
            {% block header %}
                <div class="span4">
                    <div class="logo">
                        <h1><a href="{{ path('admin_home') }}">{{ theme.header.title | trans }}</a></h1>
                        <p class="meta">{{ theme.header.subtitle | trans }}</p>
                    </div>
                </div>
            {% endblock header %}
        </div>
    </div>
</header>

<div class="content">
    {% block sidebar %}
        <!-- Sidebar -->
        <div class="sidebar">
            <!--- Sidebar navigation -->
            <ul id="nav">
                {% for section in theme.sidebar.menu.items %}
                    {% if section.childs|length %}
                        <li class="has_sub">
                            <a href="#"><span class="glyphicon glyphicon-list-alt"></span> {{ section.label | trans }}  <span class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span></span></a>
                            <ul>
                                {% for item in section.childs %}
                                    {%  if item.childs|length %}
                                        <li class="has_sub">
                                        <a href="#">{{ item.label | trans }} <span class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span></span></a>
                                        <ul>
                                            {% for item in item.childs %}
                                                <li{% if app.request.get('_route') == item.route %} class="active"{% endif %}><a href="{{ path(item.route) }}">{{ item.label | trans }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {%  elseif item.route %}
                                        <li{% if app.request.get('_route') == item.route %} class="active"{% endif %}><a href="{{ path(item.route) }}">{{ item.label | trans }}</a></li>
                                    {%  endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% elseif section.route %}
                        <li>
                            <a href="{{ path(section.route) }}"><span class="glyphicon glyphicon-list-alt"></span>{{ section.label | trans }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- Sidebar ends -->
    {% endblock sidebar %}

    <!-- Main bar -->
    <div class="mainbar">
        <div class="page-head">
            {% block page_header %}
                <h2 class="pull-left">{{ theme.page_header.title | default( bigfoot_theme_values.title ) | trans }}</h2>
            {% endblock page_header %}
            <div class="clearfix"></div>
        </div>
        <div class="matter">
            <div class="container-fluid">
                <div class="row-fluid">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
    <!-- Mainbar ends -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <div class="row-fluid">
                {% block footer %}
                    <div class="span12">
                        <p class="copy">{{ bigfoot_theme_values.copyright | trans }} | <a href="#">{{ theme.footer.title | default(bigfoot_theme_values.title) | trans }}</a></p>
                    </div>
                {% endblock footer %}
            </div>
        </div>
    </footer>

</div>
{% endblock body %}
{% block javascripts %}
    {% javascripts
        'admin/js/jquery-1.10.0.js'
        'admin/js/bootstrap.min.js'
        'admin/js/jquery-ui-1.10.1.custom.min.js'
        'admin/vendor/select2/select2.min.js'
        'admin/js/jquery.portfolio.js'
        'admin/js/custom.js'
        'admin/js/bootstrap.confirm.js'
        'admin/js/tree.jquery.js'
        '%kernel.root_dir%/../vendor/jms/twig-js/twig.js'
        output='compiled/admin/js/scripts.js' %}
        <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
        "@BigfootCoreBundle/Resources/views/translation/locale_tabs.html.twig"
        "@BigfootCoreBundle/Resources/views/modal/confirm.html.twig"
        filter="twig_js"
        output='compiled/admin/js/twigs.js' %}
        <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script language="javascript" src="{{ asset('assets/vendor/ckeditor/ckeditor.js') }}"></script>
{% endblock javascripts %}
</body>
</html>
