<div class="modal" id="test_modal">
    {{ form_start(form, {'method': 'post', 'action': app.request.getRequestURI}) }}
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{{ title }}</h3>
        </div>
        <div class="modal-body">
            {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
            <button class="btn pull-left" data-dismiss="modal">Fermer</button>
            <button class="btn pull-right btn-success" type="submit">{{ submit }}</button>
            <div class="clearfix"></div>
        </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>
