{% extends "knp_menu.html.twig" %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {% if value is not none and value is not sameas(false) %}
            {{ ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block linkElement %}
    <a href="{{ item.uri }}">
        <i class="icon-{{ item.linkAttributes['icon']|default('list-alt') }}"></i>
        <span class="menu-text">{{ block('label') }}</span> {% if item.children %}<b class="arrow icon-angle-down"></b>{% endif %}
    </a>
{% endblock %}

{% block spanElement %}
    <a href="{{ item.uri }}" {{ _self.attributes(item.linkAttributes) }}>
        <i class="icon-{{ item.linkAttributes['icon']|default('list-alt') }}"></i>
        <span class="menu-text">{{ block('label') }}</span> {% if item.children %}<b class="arrow icon-angle-down"></b>{% endif %}
    </a>
{% endblock %}
