<form action="{{ action_route }}" method="post" {{ form_enctype(form) }}>
    {% if method %}
    <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
    <div class="widget">
        <div class="widget-head">
            <div class="pull-left">{{ form_title | trans }}</div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="padd">
                {{ form_widget(form) }}
            </div>
        </div>

        <div class="widget-foot">
            <button class="btn" type="submit">{{ action_name | trans }}</button>
            {% if cancel_route is defined %}<a href="{{ path(cancel_route) }}" class="btn">{{ 'Cancel' | trans }}</a>{% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
</form>