{% use 'form_div_layout.html.twig' %}

{% block form_widget_simple %}
    {% set widgetClass = 'form-control ' %}
    {% if attr.class is defined %}
        {% set widgetClass = widgetClass ~ attr.class %}
    {% endif %}
    {% set attr = (attr | merge({class: widgetClass})) %}
    {{ parent() }}
{% endblock %}

{% block textarea_widget %}
    {% set attr = attr | merge({class: 'form-control'}) %}
    {{ parent() }}
{% endblock %}

{% block bigfoot_media_widget %}
    {% spaceless %}
        <div class="field-media">
        {% if value %}
            <a class="portfolio-popin-open" href="{{ path('portfolio_popin', {'id': value}) }}"data-base-href="{{ path('portfolio_popin') }}"><img class="crud-column-media" src="{{ value | media }}" /></a>
        {% else %}
            <a class="portfolio-popin-open btn" href="{{ path('portfolio_popin') }}" data-base-href="{{ path('portfolio_popin') }}">{{ 'Upload or select medias' | trans }}</a>
        {% endif %}
        {% set type = 'hidden' %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
    </div>
{% endblock %}

{% block collection_widget %}
    <label>{{ label }}</label>
    {{ parent() }}
    {% if prototype is defined %}
        <a href="#" class="addCollectionItem btn btn-link" data-collection-id="#{{ id }}">{{ 'Add' | trans }}</a>
    {% endif %}
{% endblock %}

{% block bigfoot_collection_item_widget %}
    <div class="accordion sortable-collection-item">
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle" data-toggle="collapse" data-target="#accordion-{{ id }}">
                    {{ value.__toString() | default('new item') | trans }}
                    <a href="#_" class="deleteCollectionItem btn btn-link pull-right">{{ 'Delete' | trans }}</a>
                </span>
            </div>
            <div id="accordion-{{ id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{ block('form_widget') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {% if not form.vars.compound %}
            {{ form_label(form) }}
            {% endif %}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
