{% use 'form_div_layout.html.twig' %}

{% block form_widget_simple %}
    {% set widgetClass = 'form-control ' %}
    {% if attr.class is defined %}
        {% set widgetClass = widgetClass ~ attr.class %}
    {% endif %}
    {% set attr = (attr | merge({class: widgetClass})) %}
    {{ parent() }}
{% endblock %}

{% block textarea_widget %}
    {% set widgetClass = 'form-control ' %}
    {% if attr.class is defined %}
        {% set widgetClass = widgetClass ~ attr.class %}
    {% endif %}
    {% set attr = (attr | merge({class: widgetClass})) %}
    {{ parent() }}
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="checkbox">
            <label>
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            </label>
        </div>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% spaceless %}
        <div class="radio">
            <label>
                <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            </label>
        </div>
    {% endspaceless %}
{% endblock radio_widget %}

{% block bigfoot_media_widget %}
    {% spaceless %}
        <div class="field-media">
        {% if value %}
            <a class="portfolio-popin-open" href="{{ path('portfolio_popin', {'id': value}) }}"data-base-href="{{ path('portfolio_popin') }}"><img class="crud-column-media" src="{{ value | media }}" /></a>
        {% else %}
            <a class="portfolio-popin-open btn" href="{{ path('portfolio_popin') }}" data-base-href="{{ path('portfolio_popin') }}">{{ 'Upload or select medias' | trans }}</a>
        {% endif %}
        {% set type = 'hidden' %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
    </div>
{% endblock %}

{% block collection_widget %}
    <label>{{ label }}</label>
    {{ parent() }}
    {% if prototype is defined %}
        <a href="#" class="addCollectionItem btn btn-link" data-collection-id="#{{ id }}" data-prototype-name="{{ prototype_name | default('__name__') }}">{{ 'Add' | trans }}</a>
    {% endif %}
{% endblock %}

{% block bigfoot_collection_item_widget %}
    <div class="accordion sortable-collection-item">
        <div class="accordion-group">
            <div class="accordion-heading">
                <span class="accordion-toggle" data-toggle="collapse" data-target="#accordion-{{ id }}">
                    {{ value.__toString() | default('new item') | trans }}
                    <a href="#_" class="deleteCollectionItem btn btn-link pull-right">{{ 'Delete' | trans }}</a>
                </span>
            </div>
            <div id="accordion-{{ id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{ block('form_widget') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {% if not form.vars.compound %}
            {{ form_label(form) }}
            {% endif %}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
